
.footer__text {
    width: 25.26%;
    margin: 0 auto;
    padding-bottom: 24px;
    font-size: 14px;
    text-align: center;
    line-height: calc(14 / 16);
}
@media screen and (max-width: 1024px) {
    .footer__text {
        width: 25.26%;
    }
}
@media screen and (max-width: 544px) {
    .footer__text {
        width: 60.62%;
        line-height: 1;
    }
}