.lead {
    display: flex;
    flex-direction: column;
    margin-top: 91px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.lead__title {
    width: 56.25%;
    font-weight: 900;
    font-size: 96px;
    line-height: calc(100 / 96);
    text-align: center;
    margin-bottom: 32px;
}
.lead__subtitle {
    font-size: 30px;
    line-height: calc(36 / 30);
    font-weight: 400;
    margin-bottom: 64px;
    width: 56.25%;
}
.lead__image {
    width: calc((984 / 1280) * 100%);
    height: 615px;
    filter: grayscale(100%);
}
@media screen and (max-width: 1024px)  {
    .lead {
        margin-top: 90px;
    }
    .lead__title {
        width: 69%;
        font-size: 75px;
        line-height: calc(79 / 75);
    }
    .lead__subtitle {
        width: 93.75%;
    }
    .lead__image {
        width: 100%;
        height: 62.5%;
        
    }
}
@media screen and (max-width: 544px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: calc(44 / 40);
    }
    .lead__subtitle{
        width: 90%;
        font-size: 16px;
    }
} 