
/* Globales */
body,
p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
}

.page {
    font-family: "Inter", sans-serif;
    background-color: #2a2c2f;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

* {
    box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
    .page {
        max-width: 1280px;
        min-width: 1024px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1024px){
    .page {
        margin: 0;
    }
}