.places {
  width: 77.1%;
  margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .places{
        width: 93.7%;
        column-gap: 28px;
        grid-auto-rows: minmax(46px, auto);
    }
   
}
@media screen and (max-width: 665px) {
    .places {
       width: 100%;
    }
    
} 